<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../lib</directory>
            <exclude>
                <file>../lib/Eresus/ORMBundle/ORMBundle.php</file>
            </exclude>
		</whitelist>
	</filter>

	<testsuites>
		<testsuite name="All tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>

</phpunit>